<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.flt.liblookupprovider">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="com.flt.liblookup.permission"
        android:label="@string/permission_lookup_label"
        android:description="@string/permission_lookup_description"
        android:protectionLevel="normal"
        />

    <application
        android:largeHeap="true">
        <provider
            android:name=".provider.OpenNamesProvider"
            android:authorities="@string/liblookup_provider_authority"
            android:permission="@string/liblookup_provider_permission"
            android:enabled="true"
            android:exported="true">
        </provider>
    </application>

</manifest>
