<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flt.libcoecclient">

    <application>

        <service android:name=".java.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>
